* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.wrapper {
    width: 1920px;
    height: 7193px;
}

header {
    background-image: url("./headerImg.png");
    height: 901px;
}

.container-fluid {
    margin: 55px 376px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;

}

.nav-link {
    color: #FFFFFF;
    letter-spacing: 0em;
    /* text-align: left; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.nav-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.navbar-brand {
    width: 269px;
    height: 55px;
    margin-right: 130px;
}

.navbar-nav {
    display: flex;
    align-content: flex-end;
    gap: 45px;
    width: 774.03px;
    height: 24px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 13.03px;
    flex-wrap: nowrap;
}

.navbar {
    width: 1169px;
    padding: 0;
}

.navbar-toggler {
    color: #FFFFFF;
}

header section {
    margin-top: 99px;
    margin-left: 356px;
    margin-right: 356px;
}

header section p {
    width: 366px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.06em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: 24px;
}

header section span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
    width: 1168px;
    height: 176px;
}

header section button {
    width: 270px;
    height: 100px;
    background: #3A4574;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 40px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 633px;
}

.socil_svg {
    width: 267px;
    gap: 25px;
    padding: 0;
    text-align: center;
}

main {
    width: 100%;
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 90px;
    height: 3519px;
}

.main_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #FFFFFF;
    margin-left: 375px;
    margin-right: 375px;
    height: 808px;

}

.main_container h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.main_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    width: 468px;

}

.main_container p img {
    margin-left: 12px;

}

.main_container p img:last-child {
    margin-right: 12px;

}

.main_container span {
    width: 469px;
    padding-bottom: 20px;

}

.last_section_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    position: relative;
    height: auto;
}

.last_section_img img:first-child {
    position: relative;
    top: 152px;
}



.lozung {
    padding: 219px 398.19px 220px;
    height: 782px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    background: #3A4574;
}

.main_container section:first-child {
    margin-right: 32px;
}

.lozung_devis {
    text-align: center;
    width: 785px;
    margin-left: 149.1px;
    margin-right: 148.1px;
}

.lozung_deviz img {
    width: 83px;
    height: 58px;

}

.lozung_devis h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #D3B47F;
    margin-top: 34px;
    margin-bottom: 20px;
}

.lozung_devis p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.lozung_devis h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.245em;
    color: #D3B47F;
}

.section_menu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 1929px;
    padding: 109px 375px 80px;
}

.section_menu section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.section_menu h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 88px;
    color: #000000;
    margin-bottom: 4px;

}

.section_menu p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    margin-top: 20px;
}

.swipper {
    background-color: #D3B47F;
    height: 100%;
    width: 1920px;
}

.swipper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 58%;
    object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important;
    left: auto;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important;
    right: auto;
    }